/* Blue stylesheet
---------------------------------------- */

a {
	color: #3bb5d8;
}

/* Heading Color */
h2 {
	color:#3bb5d8;
	}
/* Header */
#header {
	background:url(/css/images/header-bg-blue.jpg) no-repeat 50% 0 #33a5cf;
	height: 250px;
}

/* Button */
.button {
	background-color: #47c2de;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#53d1e6), to(#34a9d1)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #53d1e6, #34a9d1); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #53d1e6, #34a9d1); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #53d1e6, #34a9d1); /* IE10 */
  background-image:      -o-linear-gradient(top, #53d1e6, #34a9d1); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #53d1e6, #34a9d1);
	}
/* Icon */
.cc-set {
    background-image: url("images/icon_set_blue.jpg");
    border: 1px solid #CCCCCC;
    padding: 2px;
}