#base {
	width:1250px;
	height:99%;
}
#top_bg {
	font-family: 'Arial, Tahoma, Verdana, sans-serif;';
	width:1250px;
	height:4px;
	float:left;
	background-image:url('/images/new/top.jpg');
	background-repeat:repeat-x;
	z-index:1;
}
#bg {
	width:1250px;
	height:99%;
	/*position:absolute;
	left: 5px;
	top:4px;*/
	float:left;
	background-image: url('/images/new/background.jpg');
	background-repeat: repeat-x;
	background-attachment: fixed;
	z-index: 1;
}
#abstract {
	width:1250px;
	height:215px;
	background-image:url('/images/new/abstract.png');
	background-repeat:no-repeat;
	z-index:2;
	/*border:1px solid green;*/
}

#btm_bg {
	width:auto;
	height:auto;
	clear:both;

	padding-top:5px;
	padding-bottom:5px;
	padding-left:25px;
	
	text-align:left;
	vertical-align:middle;
	color:#FFFFFF;;
	font-size:x-small;
	background-color: #4f9ad4;
	z-index:1;
	/*border:1px solid red;*/
	
}

#logo {
	width:280px;
	height:100px;
	/*position:absolute;
	left:5px;
	top:45px;*/
	float:left;
	margin-top:30px;
	margin-left:0px;
	z-index:3;
}
#bulle {
	float:left;
	width:300px;
	height:158px;
	/*position:absolute;
	left:301px;*/
	background-image:url('/images/new/bulle.png');
	background-position:center;
	background-repeat:no-repeat;
	z-index:3;
}
/* Formatierung Uhren*/
#clock {
	float:left;
	width:400px;
	height:100px;
	margin-top:10px;
	z-index:3;
	text-align:left;
	/*border:1px solid red;*/
}
/* Formatierung der Sprachenauswahl */
#lng_menu {
	float:left;
	color: #FFFFFF;
	width:224px;
	height:52px;
	margin-bottom:0px;
	margin-right:0px;
	/*background:#0E69BC;*/
	background-image:url('/images/new/lang_menu_bg.png');
	z-index:3;
}

/* Formatierung Home, Mail, Favorite */
#nav {
	float:left;
	width:110px;
	height:25px;
	margin-top:10px;
	margin-left:50px;
	z-index:3;
	
	/*
	border:1px solid green;
	*/
}

/* Formatierung Quotes*/
#quotes_scroll {
	float:left;
	width:370px;
	height:20px;
	margin-top:10px;
	margin-left:0px;
	z-index:3;
	text-align:left;
	/*
	border:1px solid green;
	*/
}


#lng_menu table {color: #FFFFFF;font-size: 90%; width: 210px;}
#lng_menu td {color: #FFFFFF;font-size: 90%; width: 70px;}
#lng_menu img {margin-right:5px;}

 
#lng_menu a:link {color: #64C6E6; font-size:11px; text-decoration: none;}
#lng_menu a:visited {color: #64C6E6; font-size:11px; text-decoration: none;}
#lng_menu a:active {color: #FFFFFF; font-size:11px; text-decoration: none;}
#lng_menu a:hover {color: #B0E2F2; font-size:11px; text-decoration: none;}








#nav1 {
	float:left;
	width: 25px;
	margin-left:5px;
	margin-right:5px;
	text-align:center;
}

#nav img {width: 25px; height: 25px;}

#nav a {display: block;}
#nav a.home {background: url('/images/new/nav_button_3.png');}
#nav a.mail {background: url('/images/new/nav_button_2.png');}
#nav a.favorite {background: url('/images/new/nav_button_1.png');}

#nav a.home:hover {background: url('/images/new/nav_button_3_hover.png');}
#nav a.mail:hover {background: url('/images/new/nav_button_2_hover.png');}
#nav a.favorite:hover {background: url('/images/new/nav_button_1_hover.png');}


/* Formatierung Menu*/
.menu {
	float:left;
	margin-left:25px;
	background-image:url('/images/new/main_menu_bg.png');
	width:1200px;
	height:60px;
	z-index:4;
    
  /*border:1px solid red;*/
}

.menu ul, ul li, ul li ul, ul li ul li{
  padding:0;
  margin:0;
  list-style:none;
}
.menu ul li{
  float:left;
  position:relative;
/*border:1px solid red;*/
}

.menu ul li.menu_other_item{
    background:transparent;
    background-image:url('/images/new/separator.png');
    background-repeat:no-repeat;
}

.menu ul li, ul li a{
	font-family: 'Times New Roman', Arial, Tahoma, Verdana, sans-serif;
	font-weight:bold;
	font-size:14;
	width:240px;
}

.menu ul li ul li a{
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-weight:normal;
	font-size:12;
	width:240px;
}

.menu ul li a, .menu ul li a:visited{
    display:block;
    text-decoration:none;
    color:#ffffff;
    height:60px;
    text-align:center;
    line-height:60px;
    overflow:hidden;
}

.menu ul li ul{
    display:none;
}
.menu ul li:hover a{
    color:#ffffff;
    background:transparent;
    background-image:url('/images/new/dd_menu_bg.png');
}
.menu ul li:hover ul{
    display:block;
    position:absolute;
    top:40px;
    left:0;
}

.menu ul li:hover ul li a{
    display:block;
    background:transparent;
    background-image:url('/images/new/dd_menu_bg_btm.png');
    width:240px;
    height:35px;
    line-height:35px;
    color:#B0E2F2;
    text-align:left;
    padding-left:10px;
    /*border:1px solid red;*/
}
.menu ul li:hover ul li.top_menu a{
    display:block;
    background:transparent;
    background-image:url('/images/new/dd_menu_bg_btm_1.png');
		padding-top:10px;
    vertical-align:bottom;
}
.menu ul li:hover ul li.btm_menu a{
    display:block;
    background:transparent;
    background-image:url('/images/new/dd_menu_bg_btm_2.png');
}
.menu ul li:hover ul li a:hover{
    background:transparent;
    background-image:url('/images/new/dd_menu_bg_btm.png');
    width:240px;
    color:#ffffff;
}
.menu ul li:hover ul li.top_menu a:hover{
    background:transparent;
    background-image:url('/images/new/dd_menu_bg_btm_1.png');
}
.menu ul li:hover ul li.btm_menu a:hover{
    background:transparent;
    background-image:url('/images/new/dd_menu_bg_btm_2.png');
}
#basic_block {

  margin:0;
	
	float:left;
	background-color:white;
	margin-left:25px;
	margin-right:25px;
	padding:20px;
	width:1160px;
	z-index:5;
	/*border:1px solid green;*/
	
}
#basic_block_btm {
	background-image:url('/images/new/basic_block_bottom.png');
	width:1200px;
	height:20px;
	margin-left:25px;
	margin-bottom:20px;
	float:left;
	z-index:5;
	/*border:1px solid blue;*/
}
#text {
	clear:both;
	margin-top:10px;
	width:100%;
	text-align:justify;
}

#text table_text {
	width:100%;
	padding:5px;
	border:none;
}

#earth {
	text-align:center;
	background-image:url('/images/new/earth.png');
	background-repeat:no-repeat;
	background-position:0px;
	//float:left;
	margin:0px;
	padding:0px;
	width:620px;
	height:140px;
	z-index:6;
	/*border:1px solid blue;*/
	
}

#earth_1 {
	font-family:'Times New Roman';
	text-align: center;
	color: yellow;
	background: transparent;
	font-size:22px;
	font-weight:bold;
	padding-top: 25px; 
	padding-bottom: 25px;
}
#earth_2 {
	color: white;
	background-image:url("/images/new/earth_1.png");
	
	height:62px;
	padding-left:21px;
	width:567px;
	z-index:7;
}
#cur_tbl {
	float:right;
	width:205px;
	height:300px;
	border-style:solid;
	border-color:black;
	border-width:medium;
	text-align:center;
}
#login {
	float:right;
	margin-top:10px;
	width:205px;
	height:120px;
	border-style:solid;
	border-color:black;
	border-width:medium;
	text-align:center;
	margin-bottom:10px;
}
#banners {
	float:left;
	background-image:url('/images/new/banners_bg.png');
	background-repeat:no-repeat;
	margin-top:10px;
	width:600px;
	height:215px;
	text-align:center;
}
#banner_1 {
	background-image:url('/images/new/banner_left.png');
}
#banner_2 {
	float:left;
	margin-left:6px;
	background-image:url('/images/new/banner_center.png');
	background-repeat:no-repeat;
	width:196px;
	height:149px;
}
#banner_3 {
	float:left;
	margin-left:6px;
	background-image:url('/images/new/banner_right.png');
	background-repeat:no-repeat;
	width:196px;
	height:149px;
}
#banner_text {
	 color:#0F69BC;
	 position:relative;
	 top:100px;
}
#banner_text span {
	color:#0F69BC;
	font-size:1.5em;
}
a.banner_btn {
	display:block;
	background-image:url('/images/new/banner_button.png');
	background-repeat:no-repeat;
	background-position:center;
	width:100%;
	height:29px;
	text-align:center;
  text-decoration:none;
  line-height:2;
	color:#ffffff;
}

#banner_btn_1 {left:35px;}
#banner_btn_2 {left:105px;}
#banner_btn_3 {left:175px;}

#banner_btn_1 a, #banner_btn_2 a, #banner_btn_3 a {
	padding-top:6px;
	height:23px;
	display:block;
	color:#ffffff;
	text-decoration:none;
}

#btn_txt {
	color:white;
	font-size:medium;
	line-height:25px;
}
.btn_46 {
	background-image:url('/images/new/button.png');
	background-repeat:repeat-x;
	border:1px solid #cccccc;
	font-size:x-large;
	height:46px;
	float:left;
	text-align:center;
	position:relative;
}

#demo_acc_btn {
	top:15px;
	left:60px;
	width:203px;
}

#real_acc_btn {
	top:15px;
	left:135px;
	width:203px;
}

.a_btn_46 {
	font-size:x-large;
	padding-top:10px;
	height:36px;
	display:block;
	color:#666666;
	text-decoration:none;	
}

#acc_btn_txt {
	
	line-height:40px;
	color:black;
	text-align:center;
}
.boxCaption {
	font-size: 120%; 
	font-weight: bold; 
	color: #136489; 
	white-space: nowrap
}

table.main_page {
	width:100%;
	margin:0;
	border-style:none; 
	border-width:0px;
	border-spacing:0px; 
	padding:0px;
	spacing-top:0px;
	spacing-bottom:0px;
	spacing-left:20px;
	spacing-right:20px;
	vertical-align:top;
	/*border:1px solid green;*/
}

table.main_page td {
	margin:0px;
	padding:0px;
	vertical-align:top;
	/*border:1px solid red;*/
}

table.main_page td.earth {
	text-align:center;
	background-image:url('/images/new/earth.png');
	background-repeat:no-repeat;
	margin:0px;
	padding:0px;
	/*border:1px solid blue;*/
}
table.main_page td.line {
	text-align:center;
	background-image:url('/images/startseite/linia.png');
	background-repeat:repeat-x;
	height:30px;
	margin:0px;
	padding:0px;
	/*border:1px solid blue;*/
}

table.main_page td.td_banner_btn {
	background-image:url('/images/new/banners_bg.png');
	/*border:2px solid green;*/
	text-align:center;
	vertical-align:middle;
	height:49px;
}
