@charset utf-8;
html,
body{
	color: #000;
	font: 12px Arial, Helvetica, sans-serif;
	height:100%;
	margin: 0;

}
body.home {
	background-color:#fff;
	min-width:1250px;
}

#main {
	min-height:59.4%;
	height:auto !important;
}
.container{
	margin:0 auto;
	width: 1250px;
}


a {
	color: #3bb5d8;
}


/* List styling */
dl dt {
	background:url(../images/list-arrow.gif) no-repeat 0 3px;
	padding:0 0 3px 32px;
	margin-bottom:.2em;
	font-size:18px;
	line-height:1.2em;
	color:#191919;
	}
dl dd {
	padding:0 0 0 32px;
	margin:0 0 1.5em 0;
	}


/* Logo */
.logo {
	position:absolute;
	left:-10px;
	top:20px;
}.logo h1,.logo h2 {
	margin-bottom:0;
	font-size:23px;
	line-height:1.05em;
	font-weight:600;
	text-transform:uppercase;
	width:280px;
	text-align:center;
}.logo h1 a,.logo h2 a {
	background:url() no-repeat 50% 0;
	padding:100px 0 0 0;
	display:block;
	float:left;
	color:#131313;
	text-decoration:none;
	text-shadow: 4px 5px 1px rgba(0, 0, 0, 0.3);
}.logo h1 a:first-line,.logo h2 a:first-line {
	color:#fff;
}.time_block{
	position:absolute;
	left:500px;
	width: 400px !important;
	height: 100px;
	background:#fff;
	top:20px;	
}


/* Header widget */
#widget-header {
	position:absolute;
	left:320px;
	top:80px;
	z-index:1;
	width: 630px;
}
	.widget-header {
		
		}

/* EasyTooltip */
.tooltip {
	background: none repeat scroll 0 0 #252525;
	border: 1px solid #000000;
	color: #EEEEEE;
	display: none;
	font-size: 11px;
	line-height:1.2em;
	margin: 13px 0 0;
	padding: 5px;
	z-index:99;
}



/* Slogan Box */
.slogan-box {
	
	}
	.slogan-box h2 {
		font-size:60px;
		line-height:1em;
		color:#fff;
		font-weight:900;
		text-shadow: 4px 5px 1px rgba(0, 0, 0, 0.3);
		margin:0 0 4px 0;
		}
	.slogan-box .slogan-desc {
		font-size:26px;
		line-height:1.2em;
		color:#131313;
		text-transform:uppercase;
		font-family: 'Lato', sans-serif;
		font-weight:900;
		text-shadow:1px 1px 1px #fff;
		}


/* Request a quote */
.top-box {

	}
	.img-holder {
		padding:0;
		position:relative;
		margin-bottom:19px;
		}
		.img-holder img {
			-webkit-box-shadow: 0 8px 6px -8px rgba(0, 0, 0, .7);
			-moz-box-shadow: 0 8px 6px -8px rgba(0, 0, 0, .7);
			box-shadow: 0 8px 6px -8px rgba(0, 0, 0, .7);
			}
		
.box-button {

	}
.box-text {
	padding-bottom:22px;
	}

/* Navigations
---------------------------------------- */

/* Primary navigation */
.primary {
	position:relative;
	z-index:2;
	width:100%;
	background: #111;
    background: -moz-linear-gradient(#444, #111);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
	/*height:54px;*/
	box-shadow: 0 2px 1px #9C9C9C;
}

/* Essential styles for dropdown menu */
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			220px; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			35px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
	margin-top:-17px;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			145px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			145px; /* match ul width */
	top:			0;
}


/* Our skin for dropdown menu */
.sf-menu {
	float:left;
	padding:9px 0 0 0;
}
.sf-menu a {
	text-decoration:none;
	color:			#6e6e6e;
}
.sf-menu > li {
	margin-left:32px;
	}
.sf-menu > li:first-child {
	margin-left:0;
	}
.sf-menu > li > a {
	color:#fff;
	font-size:14px;
	line-height:35px;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	font-weight:900;
	padding:0 18px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	}
.sf-menu > li > a:hover,
.sf-menu > li.sfHover > a,
.sf-menu > li.current-menu-item > a{
	background:#434343;
	}
.sf-menu li {
	background:none;
	padding:0;
}
.sf-menu ul {
	background:#292929;
	padding:17px 0 4px 0;
	}
.sf-menu ul ul {
	background:#1e1e1e;
	}
.sf-menu li li {
	padding:0 0 17px 19px;
}
.sf-menu li li a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.current-menu-item > a{
	color:#fff;
	}
.sf-menu li li li {
	
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active, .sf-menu li.current-menu-item > a {
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url(../img/arrows-ffffff.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url(../img/shadow.png) no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}


/* Content
---------------------------------------- */
.primary_content_wrap {
	position:relative;
	z-index:1;
	padding-bottom:140px;
	}
	
#content {
	padding:40px 0 0 20px;
}
div.fieldwrapper label.styled {
    border-bottom: 1px solid #162E3D;
    float: left;
    margin-right: 10px;
    text-transform: uppercase;
}
div.fieldwrapper label.styled.input {
	margin-top: 8px;
}
div.fieldwrapper {
    overflow: hidden;
    padding: 2px 0;
    width: 350px;
}
div.fieldwrapper.medium{
	width: 500px;
}
div.fieldwrapper div.thefield {
    float: left;
    margin-bottom: 5px;
}



/* 404
---------------------------------------- */
#error404 {
	padding:30px 0 100px 0;
}
	.error404-num {
		font-size:250px;
		line-height:1.2em;
		color:#999;
		text-align:center;
		}
	#error404 hgroup {
		margin:0 0 2em 0;
		padding-top:50px;
		}
		#error404 hgroup h1 {
			font-size:3em;
			margin-bottom:.2em;
			}




/* Sidebar
---------------------------------------- */
#sidebar {
	padding:40px 0 0 0;
}
	
/* Footer
---------------------------------------- */
#footer {
	background:#434343;
	position:relative;
	z-index:2;
	height:91px;
	font-size:13px;
	color:#fff;
	margin-top:30px;
	}
	#footer .indent {
		padding:42px 0 10px 0;
		}
	#footer a {
		color:#b9b9b9;
		text-decoration:none;
		}
	#footer a:hover {
		text-decoration:underline;
		}

	/* Footer widget */
	#widget-footer {
		float:right;
		margin-right:10px;
	}
	
	#widget-footer .social-networks {
		margin:0;
		padding:0;
		}
	#widget-footer .social-networks li {
		list-style-type:none;
		padding:0;
		margin:0 0 0 21px;
		float:left;
		}
		#widget-footer .social-networks li img {
			margin-right:5px;
			}
			#widget-footer .social-networks li a {
				text-decoration:none;
				}
			#widget-footer .social-networks li a:hover {
				color:#fff;
				text-decoration:none;
				}
	
	/* Footer navigation */
	nav.footer {
		float:left;
	}
		nav.footer ul {
			margin:0;
			padding:3px 0 0 10px;
			}
			nav.footer ul li {
				list-style-type:none;
				float:left;
				padding:0 15px 0 0;
				margin:0;
				font-size:10px;
				text-transform:uppercase;
				}

/* Fluid Columns */
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:79.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth{ position:relative; margin-right:4%; float:left; }
.last { margin-right:0 !important; clear:right; }


.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.wrapper { 
	width:100%;
	overflow:hidden;
}
.extra-wrap {
	overflow:hidden;
	}


/* Clear Floated Elements */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
#o-submit {
    background: url("../images/submit.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 27px;
    padding-bottom: 6px;
    padding-right: 13px;
    text-align: center;
    white-space: nowrap;
    width: 68px;
}
#fx4u_quotes {
	display:inline-block;
	position:relative;
	padding:3px;
	background-color: #BAD353;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#CEE063), to(#A3C53F)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #CEE063, #A3C53F); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #CEE063, #A3C53F); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #CEE063, #A3C53F); /* IE10 */
	background-image:      -o-linear-gradient(top, #CEE063, #A3C53F); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #CEE063, #A3C53F);
	color:#303030;
	text-decoration:none;
	font-size:12px;
	border-radius:2px;
	box-shadow:1px 1px 1px rgba(0, 0, 0, .3), inset 1px 1px 1px rgba(255, 255, 255, .2);
}
.buttonrund {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    font: 14px/100% Verdana,bold;
    margin-bottom: 0;
    margin-top: 15px;
    outline: medium none;
    padding: 0.5em 2em 0.55em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    width: 137px;
}

/*Form style*/
#new_user_wrap{
	width: 350px;
	padding: 20px 10px;
}
.lhof {
    display: none;
}
#new_user input[type="text"]  {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #000066;
    border-radius: 0 0 0 0;
    color: #A1A1A1;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.25em;
    margin: 5px 0 0;
    outline: medium none;
    padding: 5px 4px;
    width: 314px;
}
#new_user .empty {
    color: #FF0000;
    display: none;
    font-size: 11px;
    font-style: normal;
    line-height: 2em;
}
fieldset {
	border:none;
	width:auto;
	padding: 0;
	margin: 0;
}
legend {
	font-size:18px;
	margin:0px;
	padding:10px 20px;
	color:#b0232a;
	font-weight:bold;
}
/*label {
	text-align:left;
	display:block;
	width:300px;
	margin:10px 0 5px !important;
}*/
label.option {
	clear: none;
	display: inline;
	float: left;
	line-height: 25px;
	position: relative;
	text-align: left;
	width: 280px;
}

.next:after {
	content:"";
	position:absolute;
	right:9px;
	top:9px;
	width:6px;
	height:10px;
	background:url(../images/arrow-right.png) no-repeat 0 0;
}
.prev:after {
	content:"";
	position:absolute;
	right:90px;
	top:9px;
	width:6px;
	height:10px;
	background:url(../images/arrow-left.png) no-repeat 0 0;
}

.prev:hover, .next:hover {
	background-color: #6a6a6a;
	color:#fff;
}
        .prev {float: left;}
.next {
	float: right;
	margin-right: 26px;
}
        #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
        #steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
        #steps li span {font-size:11px; display:block;}
        #steps li.current { color:#000;}
        #makeWizard { background-color:#b0232a; color:#fff; padding:5px 10px; text-decoration:none; font-size:18px;}
        #makeWizard:hover { background-color:#000;}
.footerstep {
	margin-top:10px;
	padding: 0px;
}


/*Tinytable*/
#tablewrapper {width:735px; margin:0 auto}
#tableheader {height:55px}
.search {float:left; padding:6px; border:1px solid #c6d5e1; background:#fff}
#tableheader select {float:left; font-size:12px; width:125px; padding:2px 4px 4px}
#tableheader input {float:left; font-size:12px; width:225px; padding:2px 4px 4px; margin-left:4px}
.details {float:right; padding-top:12px}
.details div {float:left; margin-left:15px; font-size:12px}
.tinytable {width:740px; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none; font-size:10px; }
.tinytable th {background: #85B330; /*url(../img/header-bg.gif);*/ text-align:left; color:#cfdce7; border:1px solid #fff; border-right:none}
.tinytable th h3 {font-size:10px; padding:6px 8px 8px; margin: 0px;}
.tinytable td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1}
.tinytable .head h3 {background:url(../img/css/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .desc, .sortable .asc {background:url(../img/css/header-selected-bg.gif)}
.tinytable .desc h3 {background:url(../img/css/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .asc h3 {background:url(../img/css/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .head:hover, .tinytable .desc:hover, .tinytable .asc:hover {color:#fff}
.tinytable .evenrow td {background:#fff}
.tinytable .oddrow td {background:#ecf2f6}
.tinytable td.evenselected {background:#ecf2f6}
.tinytable td.oddselected {background:#dce6ee}
.tinytable tfoot {background:#fff; font-weight:bold}
.tinytable tfoot td {padding:6px 8px 8px}
#tablefooter {height:15px; margin-top:20px}
#tablenav {float:left}
#tablenav img {cursor:pointer}
#tablenav div {float:left; margin-right:15px}
#tablelocation {float:right; font-size:12px}
#tablelocation select {margin-right:3px}
#tablelocation div {float:left; margin-left:15px}
#selectedrow td {background:#c6d5e1}

.link { font-weight:bold; text-decoration:underline; cursor:pointer;}
.link:hover { font-weight:bold; text-decoration:none; }

/*END TinyTable*/

.icon{	
	height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}
.plus {
	background-image: url("../images/plus.png");
}
.minus{
	background-image: url("../images/minus.png");
}
.euro{
	background-image: url("../images/currency_euro.png");
	margin-left: 15px;
}
/* Always remember to compress your live stylesheet and keep an uncompressed backup */


/* ??????? ???? */
#menu
{
        width: 100%;
        margin: 0;
        padding: 10px 0 0 0;
        list-style: none;
        background: #111;
        background: -moz-linear-gradient(#444, #111);
   		background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
        background: -webkit-linear-gradient(#444, #111);
        background: -o-linear-gradient(#444, #111);
        background: -ms-linear-gradient(#444, #111);
        background: linear-gradient(#444, #111);
       /* -moz-border-radius: 50px;
        border-radius: 50px;
        -moz-box-shadow: 0 2px 1px #9c9c9c;
        -webkit-box-shadow: 0 2px 1px #9c9c9c;
        box-shadow: 0 2px 1px #9c9c9c;*/
}

#menu li
{
        float: left;
        padding: 0 0 10px 0;
        position: relative;
}

#menu a
{
	float: left;
	height: 25px;
	padding: 0 25px;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
	font-weight: 900;
	color: #FFFFFF;
	font-family: 'Lato',sans-serif;
	font-size: 14px;
	line-height: 22px;
}

#menu li:hover > a
{
        color: #fafafa;
}

*html #menu li a:hover /* IE6 */
{
        color: #fafafa;
}

#menu li:hover > ul
{
        display: block;
}

/* ??????? */

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: auto;
}

#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a
{
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu ul a /* IE6 */
{
        height: 10px;
        width: 150px;
}

*:first-child+html #menu ul a /* IE7 */
{
        height: 10px;
        width: 150px;
}

#menu ul a:hover
{
    background: #0186ba;
        background: -moz-linear-gradient(#04acec,  #0186ba);
        background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
        background: -webkit-linear-gradient(#04acec,  #0186ba);
        background: -o-linear-gradient(#04acec,  #0186ba);
        background: -ms-linear-gradient(#04acec,  #0186ba);
        background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec;
}

#menu ul li:last-child a
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

#menu:after
{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */

/*SIDERBAR*/
.fxr-sidebar-block { border-right: 1px solid #E6E6E6; box-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.25); padding: 10px; background-color:#EAF4FD; color: #162D3C; margin-bottom:12px;}
.fxr-siderbar-header {
	color: #DBEAAE;
	height:30px;
	padding-left:25px;
	position:relative;
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.20, #0B2433), color-stop(1, #EAF4FD) );
	background:-moz-linear-gradient( center top, #0B2433 10%, #EAF4FD 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0B2433', endColorstr='#EAF4FD');*/
	text-transform: uppercase;
	font-weight: bold;
	background-color:#0B2433;
}
.fxr-siderbar-header a{
	color: #162D3C;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color: #ddcca3;
	font-size: 13px;
	text-decoration: none;
	font-family:Verdana, Geneva, sans-serif;
}
.fxr-siderbar-header a:hover{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; #ddcca3; color: #ccc;
	text-decoration: none;
}
.fxr-siderbar-header p{
	margin: 0 0 0 10px;
	padding: 5px 0 0 0;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color: #ddcca3;
	font-size: 13px;
	font-family:Verdana, Geneva, sans-serif;
}
.fx-icon {
	background-color:#FFF;
	position:absolute;
	top:0px;
	left:0px;
	height: 30px; width:25px;
}
.fx-media {
	
	background-image: url(images/icon_media.png);
	
}
.off{background-position: -75px -130px;}
.fx-website {
	background-image: url(images/icon_website.png);
}
.person{background-position: -0px -33px;}
.chat{background-position: -37px -63px;}
.frame{background-position: -0px -66px;}

#withdrawal_container {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 15px auto;
    text-align: left;
    width: 640px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
#withdrawal_container h1 {
    background-color: #DEDEDE;
    margin: 0;
    min-height: 0;
    padding: 0;
    text-decoration: none;
    text-indent: -8000px;
}
#withdrawal_body {
	margin: 20px;
}
.fx_link{
	color: #4579CD;
	cursor:pointer;
}
.fx_link:hover{
	text-decoration:underline;
}

/*MAIN Siete*/
.fx_statement_box{
	border: 1px solid rgb(230, 230, 230);
	border-radius: 12px 12px 12px 12px;
	box-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.25);
	padding: 0px;
	margin-right: 10px;
}
.digit{
	text-align:right;
	display:block;
	width: 90px;
}
.digit b{
	 padding-right: 7px;
}


/*Таблица в стиле Зебра*/

.zebra {
	border-collapse: collapse;
	border-spacing: 0;
    width: 100%;
	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 1px #CCCCCC;
}.zebra td, .zebra th {
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    padding: 8px;
}.zebra td a {
	text-decoration:none;
	color:#000;
}.zebra td a:hover {
	text-decoration:underline;
	color: #4579CD;
}.zebra tbody tr:nth-child(2n) {
    background: none repeat scroll 0 0 #EAF4FD;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}.zebra tr:hover {
    -moz-transition: all 0.1s ease-in-out 0s;
    background: none repeat scroll 0 0 #FBF8E9;
	color: #4579CD;
}.zebra th {
    background-color:#0B2433;
  	color: #E1EEF9;
    border-bottom: 1px solid #CCCCCC;
    text-align: left;
	font-family: Arial,Helvetica,Sans-Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 5px 5px 5px 10px;
}.zebra tfoot td {
    background-color: #F1F1F1;
    border-bottom: 0 none;
    border-top: 1px solid #FFFFFF;
}.zebra tfoot td:first-child {
    border-radius: 0 0 0 6px;
}.zebra tfoot td:last-child {
    border-radius: 0 0 6px 0;
}.fxr-table-header {
	color: #DBEAAE;
	height:35px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	padding:0 35px;
	background-color:#0B2433;
	margin-top: 30px;
}.fr-table-heder-msgbox {
	border: 1px solid rgb(255, 173, 51);
	color: rgb(255, 102, 0);
	padding: 5px;
	position: absolute;
	top: -45px;
	right: 250px;
	width: 300px;
	text-align:center;
}.fxr-table-header div {
	position:relative;
	top: 10px;
	right: 5px;
	float:right;
	height: 25px;
}.fxr-table-header a {
	text-decoration:none;
}.fr-ajax-img {
	position: relative;
	top: 9px;
	left: 735px;
	display:none;
}.fxr-button {
	color:#E1EEF9;
	background-color:#0B2433;
	margin: 5px;
	padding:3px;
	border: 1px solid #E1EEF9;
	cursor:pointer;
	border-radius: 4px;
}.fxr-button .activ {
	color:#4579CD;
	border: 1px solid #4579CD;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}.delete_button:hover {
	color:#FF6600;
	border: 1px solid #FF6600;
}.disable_button {
	color: #CCC;
	border: 1px solid #CCC;
	border-radius: 4px;
	margin: 5px;
	padding:3px;
	cursor:default;
}.delete_button:hover {
	color:#FF6600;
	border: 1px solid #FF6600;
}.fxr-button:active {
	position:relative;
	top:1px;
	
}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}

/*Form */

.input_tiny {
  width: 50px;
}.input_small {
  width: 100px;
}.input_medium {
  width: 150px;
}.input_large {
  width: 200px;
}.input_xlarge {
  width: 250px;
}.input_xxlarge {
  width: 300px;
}.input_full {
  width: 100%;
}.input_full_wrap {
  display: block;
  padding-right: 8px;
}
input[type="search"]::-webkit-search-decoration {
  display: none;
}
input:invalid,
button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input:focus,
button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  /*-webkit-appearance: none;*/
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: #333333;
  outline: 0;
  margin: 0;
  padding: 2px 8px;
  text-align: left;
  font-size: 13px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 1.8em;
  vertical-align: top;
  *padding-top: 2px;
  *padding-bottom: 1px;
  height: 25px;
  /*line-height: 25px;*/
  text-indent: 5px;
}
select{
	padding: 2px 2px 2px 0;
	text-indent: 0px;
}
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #F9F9F9;
  border: none;
}
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #dddddd url('../images/button.png?1298351022') repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: -ms-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  vertical-align: top;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
}
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -o-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -ms-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
}
button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -o-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -ms-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999999 #bbbbbb #dddddd;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
#file_browse_wrapper {
	width: 93px;
	height: 23px;
	-webkit-appearance: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background: #dddddd url('../images/button.png?1298351022') repeat-x;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
	background-image: -webkit-linear-gradient(#ffffff, #dddddd);
	background-image: -moz-linear-gradient(#ffffff, #dddddd);
	background-image: -o-linear-gradient(#ffffff, #dddddd);
	background-image: -ms-linear-gradient(#ffffff, #dddddd);
	background-image: linear-gradient(#ffffff, #dddddd);
	border: 1px solid;
	border-color: #dddddd #bbbbbb #999999;
	cursor: pointer;
	color: #333333;
	font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
	overflow:hidden;
	margin: 5px 0 0 15px;
}
#memeberAvatar{
	margin-left:-145px;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	cursor: pointer;
}
#file_browse_wrapper:before {
	content: attr(title);
    left: 30px;
    padding: 4px 8px;
    position: absolute;
    top: 3px;
    white-space: nowrap;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
/*END Form*/

.area {
	height: 40px;
	padding-left: 60px;
	border: solid 1px #999;
	margin: 5px;
	display: table;
	width: 400px;
	cursor:pointer;
}
.area:hover {
	background-color: #CFD8EF;
}
.area p {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}
/*Info Box*/
.message, .success, .warning, .error, .validation {
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri,Tahoma,Geneva,sans-serif;
    font-size: 16px;
    margin: 10px 0;
    padding: 5px 10px 5px 50px;
}
.message {
    background-color: #BDE5F8;
    background-image: url("images/message.png");
    color: #00529B;
}
.success {
    background-color: #DFF2BF;
    background-image: url("images/success.png");
    color: #4F8A10;
}
.warning {
    color: #9F6000;
	background-color: #FEEFB3;
	background-image: url("images/warning.png");
}
.error {
    background-color: #FFBABA;
    background-image: url("images/error.png");
    color: #D8000C;
}
/*ICON*/
.cc-icon.info {
    height: 16px;
    width: 16px;
}
.cc-icon {
    cursor: pointer;
    display: block;
    height: 25px;
    width: 25px;
}
.cc-set {
    background-image: url("images/icon_set.jpg");
    border: 1px solid #CCCCCC;
    padding: 2px;
}
.info {
	background-position: -90px -536px;
}
.chek {
	background-position: -355px -40px;
}
.enroll {
    background-position: -130px -634px;
}
.clock {
    background-position: -53px -632px;
}
.clock_l {
    background-position: -208px -1560px;
}
.deposits {
    background-position: -283px -535px;
}
.payment {
    background-position: -284px -569px;
}
.cancel {
    background-position: -130px -74px;
}
.structure {
    background-position: -92px -74px;
}
.tradinaccaunt{
	background-position: -245px -663px;
}
.agentaccaunt{
	background-position: -18px -663px;
}
.refaccaunt{
	background-position: -354px -695px;
}

.icon {
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    margin-left: 3px;
    overflow: hidden;
    text-indent: -99999px;
    width: 16px;
    cursor:pointer;
}
.cancel {
    background-image: url("images/cancel.png");
}
.user_male {
    background-image: url("images/user_male.png");
}
.user_female {
    background-image: url("images/user_female.png");
}
.pay_status_0 {
    background-image: url("images/currency_dollar.png");
}
.pay_status_1 {
    background-image: url("images/currency_dollaryellow.png");
}
.pay_status_2 {
    background-image: url("images/currency_dollargreen.png");
}
.pdf {
    background-image: url("images/pdf.png");
}
.invoice {
    background-image: url("images/invoice.png");
}
.programm_0 {
    background-image: url("images/star_off.png");
}
.programm_1 {
    background-image: url("images/star.png");
}
.email {
    background-image: url("images/mail.png");
}
.award_star_bronze_1 {
    background-image: url("images/award_star_bronze_1.png");
}
.award_star_bronze_2 {
    background-image: url("images/award_star_bronze_2.png");
}
.award_star_bronze_3 {
    background-image: url("images/award_star_bronze_3.png");
}
.award_star_silver_1 {
    background-image: url("images/award_star_silver_1.png");
}
.award_star_silver_2 {
    background-image: url("images/award_star_silver_2.png");
}
.award_star_silver_3 {
    background-image: url("images/award_star_silver_3.png");
}
.award_star_gold_1 {
    background-image: url("images/award_star_gold_1.png");
}
.award_star_gold_2 {
    background-image: url("images/award_star_gold_2.png");
}
.award_star_gold_3 {
    background-image: url("images/award_star_gold_3.png");
}

.paylogo {
    background-repeat: no-repeat;
    display: block;
	height: 30px;
	width: 60px;
    overflow: hidden;
    text-indent: -10px;
	background-image: url(images/paylogo.png);
	position: relative;
	left: -60px;
	top: 8px;
}
.pay_system1, .pay_system2{ background-position: -303px -20px; }
.pay_system3{ background-position: -103px -269px }
.pay_system4{ background-position: -153px -315px }
.pay_system5{ background-position: -153px -315px }
.pay_system6{ background-position: -303px -220px; }
.pay_system7{ background-position: -3px -220px; }
.pay_system8{ background-position: -153px -20px; }
.pay_system15{ background-position: -153px -20px; }
.pay_system9{ background-position: -53px -20px; }
.pay_system10{ background-position: -253px -120px; }
.pay_system11{ background-position: -253px -120px; }
.pay_system12{ background-position: -300px -120px; }
.pay_system13, .pay_system14{ background-position: -300px -67px; }

div.section_break{
	border-top: 1px dotted #CCCCCC;
    margin-top: 9px;
    padding-bottom: 0;
    padding-left: 9px;
    padding-top: 13px;
    width: 97% !important;
}
.tooltip
{
  position: relative;
  cursor: help;
  display: inline-block;
  text-decoration: none;
  color: #222;
  outline: none;
}

.tooltip span
{
  visibility: hidden;
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 999;
  width: 230px;
  margin-left: -127px;
  padding: 10px;
  border: 2px solid #ccc;
  opacity: .9;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.tooltip:hover
{
  border: 0; /* IE6 fix */
}

.tooltip:hover span
{
  visibility: visible;
}

.tooltip span:before,
.tooltip span:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;
  border-top: 8px solid #ddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 0;
}

.tooltip span:before
{
  border-top-color: #ccc;
  bottom: -8px;
}

.box_header {
	-moz-box-shadow: 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: 0px 1px 0px 0px #ffffff;
	box-shadow: 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:12px 12px 0px 0px;
	-webkit-border-radius:12px 12px 0px 0px;
	border-radius:12px 12px 0px 0px;
	border:1px solid #dcdcdc;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 10px 6px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

/*BONUS MANAGER*/

.fx-countbox{
	display:block;
	margin-top: 8px;
	border: 1px solid #79B7E7;
	width: 15px;
	padding: 2px 8px 2px 8px;
	border-radius: 10px;
	cursor: pointer;
	text-align:center;
}
.bonus-member-box{
	margin-right:10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	height: 75px;
	padding:8px;
	background: url("http://pc.fxmbackoffice.com/css/jquery-ui-green-theme/images/ui-bg_gloss-wave_100_ece8da_500x100.png") repeat-x scroll 50% 50% #ECE8DA;
}.bonus-member-box span{
	display:block;
}.bonus-member-box .ui-icon{
	float:left;
	margin-right:5px;
}
.bonus-member-box.disabled{
	border: 1px solid #ccc;
	color: #ccc;
}
.bonus-member-box.disabled:hover{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	border: 1px solid #ccc;
}

.paylogo.pay_system17 {
    background-image: url(images/qiwi.png);
}

.paylogo.pay_system16 {
    background-image: url(images/payeer.png);
}
/* Accordion
.ac{width: 400px;margin: 10px auto 30px auto;text-align: left;}
.ac label{
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 1px 0px 0px 0px rgba(255,255,255,0.9) inset, 0px 2px 2px rgba(0,0,0,0.1);}
.ac label:hover{background: #fff;}
.ac input:checked + label,
.ac input:checked + label:hover{
    background: #c6e1ec;
    color: #3d7489;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow:  0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);}
.ac label:hover:after,
.ac input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(images/main/arrow_down.png) no-repeat center center;}
.ac input:checked + label:hover:after{background-image: url(images/main/arrow_up.png);}
.ac input{display: none;}
.ac article{
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;}
.ac article p{
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);}
.ac input:checked ~ article{
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);}
.ac input:checked ~ article.ac-small{height: 140px;}
.ac input:checked ~ article.ac-medium{height: 180px;}
.ac input:checked ~ article.ac-large{height: 230px;}*/