
<div id="flashMessage" class="example_class"><?php echo $this->Session->flash(); ?></div>


<?php
    if ($partners) {
        $html = "<table class='table table-striped table-bordered'>
        <thead>
        <tr>
        <th>Зарегистрирован</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Город</th>
        <th>Адрес</th>
        </tr>
        </thead>

        <tbody>";
        foreach($partners as $partner) {
            $html .= "<tr>";
            $html .= "<td>{$partner['fr_user']['user_registered']}</td><td>{$partner['fr_user']['first_name']}</td><td>{$partner['fr_user']['last_name']}</td><td>{$partner['fr_user']['city']}</td><td>{$partner['fr_user']['address']}</td>";
            $html .= "</tr>";
        }
        $html .= "</tbody></table>";
        print_r($html);
    }
?>