<div class="container-fluid">
    <div class="span12"></div>
</div>
<div class="container-fluid">
<div class="row-fluid">
<div class="span12">

<div style="margin-bottom: 18px;" class="tabbable box">

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tabs-1">Главный БЦ</a></li>
    <li class=""><a data-toggle="tab" href="#tabs-2">Накопительный БЦ</a></li>
</ul>
<div class="tab-content">


<div id="tabs-1" class="tab-pane active">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="fxr-table-header" style="margin-right:10px">
                <div style="margin-bottom:15px; float:left; top: 5px;">
                    <form name="bonus_view" method="post" action="/bonus">
                        <select name="member" onchange="this.form.submit();" class="input_large">
                            <option value="">Выберете участника</option>
                            <?php echo $data ?>
                        </select>
                    </form>
                </div>
                <div style="float: right; margin-right: 7px;">
                    <?php if($fulluserinfo['access'] == true)
                            {?>
                    <a href="/bonus/edit"><span prefix="edit" id="edit_button" class="fxr-button">Править</span></a>
                    <?php
                            }?>
                </div>
            </div>
            <div style="clear:left;"></div>


            <div class="row-fluid">
                <?php $i = 0; foreach($tableInfo['lavel_1'] as $value)
                        {
                        //if ($user_count) { echo '<span id="' .$a[$i]['user_id']. '" class="fx-countbox">' .$user_count. '</span>'; }
                        $class_off = ($value['user_id']) ? '' : ' disabled';
                        $class_aktiv = ($aktivUserId == $value['user_id']) ? ' aktiv' : '';
                        $span_count = ($value['memberCont']) ? '<span id="' .$value['user_id']. '" class="fx-countbox">' .$value['memberCont']. '</span>' : '';

                        if ($i % 4 == 0){echo '<div class="span6">
                        <div class="row-fluid">';}

                        echo
                        '<div class="span3">
                        <div id="' .$value['user_id']. '" class="well bonuses" style="text-align:center">
                        <span class="center ui-icon ui-icon-person"></span>1.' .++$i. '
                        <span>' .$value['dispaly_name']. '</span>
                        <span>' .$value['first_name']. '</span>' .$span_count. '
                        </div>
                        </div>';

                        if ($i % 4 == 0){echo '</div>
                        </div>';}
                        }?>
            </div>
            <div class="row-fluid">
                <?php $i = 0; foreach($tableInfo['lavel_2'] as $value)
                        {
                        //if ($user_count) { echo '<span id="' .$a[$i]['user_id']. '" class="fx-countbox">' .$user_count. '</span>'; }
                        $class_off = ($value['user_id']) ? '' : ' disabled';
                        $class_aktiv = ($aktivUserId == $value['user_id']) ? ' aktiv' : '';
                        $span_count = ($value['memberCont']) ? '<span id="' .$value['user_id']. '" class="fx-countbox">' .$value['memberCont']. '</span>' : '';

                        echo
                        '<div class="span3">
                        <div id="' .$value['user_id']. '" class="well bonuses" style="text-align:center">
                        <span class="center ui-icon ui-icon-person"></span>1.' .++$i. '
                        <span>' .$value['dispaly_name']. '</span>
                        <span>' .$value['first_name']. '</span>' .$span_count. '
                        </div>
                        </div>';
                        }?>
            </div>
            <div class="row-fluid">
                <?php $i = 0; foreach($tableInfo['lavel_3'] as $value)
                        {
                        //if ($user_count) { echo '<span id="' .$a[$i]['user_id']. '" class="fx-countbox">' .$user_count. '</span>'; }
                        $class_off = ($value['user_id']) ? '' : ' disabled';
                        $class_aktiv = ($aktivUserId == $value['user_id']) ? ' aktiv' : '';
                        $span_count = ($value['memberCont']) ? '<span id="' .$value['user_id']. '" class="fx-countbox">' .$value['memberCont']. '</span>' : '';
                        echo
                        '<div class="span6">
                        <div id="' .$value['user_id']. '" class="well bonuses" style="text-align:center">
                        <span class="center ui-icon ui-icon-person"></span>1.' .++$i. '
                        <span>' .$value['dispaly_name']. '</span>
                        <span>' .$value['first_name']. '</span>' .$span_count. '
                        </div>
                        </div>';
                        }?>
            </div>
            <div class="row-fluid">
                <?php $i = 0; foreach($tableInfo['lavel_4'] as $value)
                        {
                        //if ($user_count) { echo '<span id="' .$a[$i]['user_id']. '" class="fx-countbox">' .$user_count. '</span>'; }
                        $class_off = ($value['user_id']) ? '' : ' disabled';
                        $class_aktiv = ($aktivUserId == $value['user_id']) ? ' aktiv' : '';
                        $span_count = ($value['memberCont']) ? '<span id="' .$value['user_id']. '" class="fx-countbox">' .$value['memberCont']. '</span>' : '';

                        echo
                        '<div class="span12">
                        <div id="' .$value['user_id']. '" class="well bonuses" style="text-align:center">
                        <span class="center ui-icon ui-icon-person"></span>1.' .++$i. '
                        <span>' .$value['dispaly_name']. '</span>
                        <span>' .$value['first_name']. '</span>' .$span_count. '
                        </div>
                        </div>';
                        }?>
            </div>
        </div>
    </div>
</div>
<div id="tabs-2" class="tab-pane">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="fxr-table-header" style="margin-right:10px">
                <div style="margin-bottom:15px; float:left; top: 5px;">
                    <form name="bonus_view" method="post" action="/bonus">
                        <select name="member" onchange="this.form.submit();" class="input_large">
                            <option value="">Выберете участника</option>
                            <?php echo $data ?>
                        </select>
                    </form>
                </div>
                <div style="float: right; margin-right: 7px;">
                    <?php if($fulluserinfo['access'] == true)
                            {?>
                    <a href="/bonus/edit"><span prefix="edit" id="edit_button" class="fxr-button">Править</span></a>
                    <?php
                            }?>
                </div>
            </div>
            <div style="clear:left;"></div>


            <div class="row-fluid">
                <?php $i = 0; foreach($tableInfo['lavel_1'] as $value)
                        {
                        //if ($user_count) { echo '<span id="' .$a[$i]['user_id']. '" class="fx-countbox">' .$user_count. '</span>'; }
                        $class_off = ($value['user_id']) ? '' : ' disabled';
                        $class_aktiv = ($aktivUserId == $value['user_id']) ? ' aktiv' : '';
                        $span_count = ($value['memberCont']) ? '<span id="' .$value['user_id']. '" class="fx-countbox">' .$value['memberCont']. '</span>' : '';

                        if ($i % 4 == 0){echo '<div class="span6">
                        <div class="row-fluid">';}

                        echo
                        '<div class="span3">
                        <div id="' .$value['user_id']. '" class="well bonuses" style="text-align:center">
                        <span class="center ui-icon ui-icon-person"></span>1.' .++$i. '
                        <span>' .$value['dispaly_name']. '</span>
                        <span>' .$value['first_name']. '</span>' .$span_count. '
                        </div>
                        </div>';

                        if ($i % 4 == 0){echo '</div>
                        </div>';}
                        }?>
            </div>
            <div class="row-fluid">
                <?php $i = 0; foreach($tableInfo['lavel_2'] as $value)
                        {
                        //if ($user_count) { echo '<span id="' .$a[$i]['user_id']. '" class="fx-countbox">' .$user_count. '</span>'; }
                        $class_off = ($value['user_id']) ? '' : ' disabled';
                        $class_aktiv = ($aktivUserId == $value['user_id']) ? ' aktiv' : '';
                        $span_count = ($value['memberCont']) ? '<span id="' .$value['user_id']. '" class="fx-countbox">' .$value['memberCont']. '</span>' : '';

                        echo
                        '<div class="span3">
                        <div id="' .$value['user_id']. '" class="well bonuses" style="text-align:center">
                        <span class="center ui-icon ui-icon-person"></span>1.' .++$i. '
                        <span>' .$value['dispaly_name']. '</span>
                        <span>' .$value['first_name']. '</span>' .$span_count. '
                        </div>
                        </div>';
                        }?>
            </div>
            <div class="row-fluid">
                <?php $i = 0; foreach($tableInfo['lavel_3'] as $value)
                        {
                        //if ($user_count) { echo '<span id="' .$a[$i]['user_id']. '" class="fx-countbox">' .$user_count. '</span>'; }
                        $class_off = ($value['user_id']) ? '' : ' disabled';
                        $class_aktiv = ($aktivUserId == $value['user_id']) ? ' aktiv' : '';
                        $span_count = ($value['memberCont']) ? '<span id="' .$value['user_id']. '" class="fx-countbox">' .$value['memberCont']. '</span>' : '';
                        echo
                        '<div class="span6">
                        <div id="' .$value['user_id']. '" class="well bonuses" style="text-align:center">
                        <span class="center ui-icon ui-icon-person"></span>1.' .++$i. '
                        <span>' .$value['dispaly_name']. '</span>
                        <span>' .$value['first_name']. '</span>' .$span_count. '
                        </div>
                        </div>';
                        }?>
            </div>
            <div class="row-fluid">
                <?php $i = 0; foreach($tableInfo['lavel_4'] as $value)
                        {
                        //if ($user_count) { echo '<span id="' .$a[$i]['user_id']. '" class="fx-countbox">' .$user_count. '</span>'; }
                        $class_off = ($value['user_id']) ? '' : ' disabled';
                        $class_aktiv = ($aktivUserId == $value['user_id']) ? ' aktiv' : '';
                        $span_count = ($value['memberCont']) ? '<span id="' .$value['user_id']. '" class="fx-countbox">' .$value['memberCont']. '</span>' : '';

                        echo
                        '<div class="span12">
                        <div id="' .$value['user_id']. '" class="well bonuses" style="text-align:center">
                        <span class="center ui-icon ui-icon-person"></span>1.' .++$i. '
                        <span>' .$value['dispaly_name']. '</span>
                        <span>' .$value['first_name']. '</span>' .$span_count. '
                        </div>
                        </div>';
                        }?>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
