<div id="tablefooter">
  <div id="tablenav">
    <div>
      <img src="/img/css/wp-image/first.png" width="16" height="16" alt="First Page" onclick="sorter.move(-1,true)" />
      <img src="/img/css/wp-image/previous.gif" width="16" height="16" alt="First Page" onclick="sorter.move(-1)" />
      <img src="/img/css/wp-image/next.gif" width="16" height="16" alt="First Page" onclick="sorter.move(1)" />
      <img src="/img/css/wp-image/last.gif" width="16" height="16" alt="Last Page" onclick="sorter.move(1,true)" />
    </div>
    <div>
      <select style="text-indent: 0px;" id="pagedropdown"></select>
    </div>
    <div>
      <a href="javascript:sorter.showall()">Показать все >></a>
    </div>
  </div>
  <div id="tablelocation">
    <div>
      <select style="text-indent: 0px;" onchange="sorter.size(this.value)">
        <option value="5">5</option>
        <option value="10" selected="selected">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      <span>записей на странице</span>
    </div>
  <div class="page" style="float: none; margin-top: 10px;">Страницы <span id="currentpage"></span> из <span id="totalpages"></span></div>
  </div>
</div>