<div class="container-fluid"><div class="span12"><p></p></div></div>
<div class="container-fluid">
	<div class="row-fluid">
    <div class="span12">



<div class="box" style="position:relative;">
<div class="tab-header" >
  Счет: 
</div>
<span class="button" id="keyType_structur_button" prefix="prefix">Распределить</span>
<table class="table table-striped data-table">
<thead>
<tr>
					<th >Номер</th>
					<th >Дата</th>
					<th >Partner ID</th>
					<th>Назначение</th>
					<th>Фамилия Имя</th>
					<th >Обработано</th>
					<th >Сумма</th>
</tr>
</thead>
<tbody>



				<?php
					foreach( $aAccountInformations as $aInformation)
					{
						$bSumIsNegativ = $aInformation["fr_statement"]["sum"] < 0;
						//var_dump($aInformation);
						
						echo'
						<tr>
							<td><input type="checkbox" '.($bSumIsNegativ ? 'disabled="disabled"' : '').'  name="invoice[]" prefix="keyType" value="'.$aInformation["fr_statement"]["invoice_id"].'" /><spsn style="vertical-align:-1px; margin-left: 10px;">' .$aInformation["fr_statement"]["invoice_id"]. '</span></td>
							<td>' .date("d.m.Y", strtotime($aInformation["fr_invoice_history"]["add_date"])). '</td>
							<td>' .($bSumIsNegativ ? $aInformation["fr_user_settings1"]["to_partner_id"] : $aInformation["fr_user_settings"]["partner_id"]).' </td>
							<td>' .($bSumIsNegativ ? 'Выплата на рассчетный счет' : 'Пополнение счета'). '</td>
							<td>' .($bSumIsNegativ ? '<span id="' .$aInformation["fr_invoice_registered"]["user_id"]. '" class="link">'.$aInformation["fr_user2"]["to_last"].', ' .$aInformation["fr_user2"]["to_first"]. '</span>' : '<span id="' .$aInformation["fr_invoice_registered"]["user_id"]. '" class="link">'.$aInformation["fr_user"]["last_name"].', ' .$aInformation["fr_user"]["first_name"]. '</span>').'</td>
							<td>' .$aInformation["fr_user1"]["operator_first"]. ', '.$aInformation["fr_user1"]["operator_last"].' </td>
							<td class="sum-amount" style="text-align:right; color:' .($bSumIsNegativ ? 'red' : 'green').  '">' .$aInformation["fr_statement"]["sum"]. '</td>
						</tr>';
						
					}
				?>


</tbody>
</table>
</div>



    </div>
  </div>
</div>