<div class="container-fluid"><div class="span12"><p></p></div></div>
<div class="container-fluid">
	<div class="row-fluid">
    <div class="span12">


<div class="box" style="position:relative;">
<div class="tab-header" >
  Потвержденные участники 		
</div>
<span class="button " id="keyType_activation_mailsend_button" prefix="prefix">Отправить ссылку</span>
<table class="table table-striped data-table">
<thead>
<tr>
    <th >Partner ID</th>
    <th >Фамилия Имя</th>
    <th >Спонсор</th>
    <th >E-mail</th>
    <th >Skype</th>
    <th >register date</th>
</tr>
</thead>
<tbody>



			<?php
				if (is_array($aAllUsers)) {
                    foreach($aAllUsers as $aUser)
                    {

                        echo '
                        <tr>
                            <td><input class="all-checkable" type="checkbox" name="users['.$aUser["fr_user"]["id"].']" value="'.$aUser["fr_user"]["id"].'" /><spsn style="vertical-align:-1px; margin-left: 10px;">' .$aUser["fr_user"]["id"]. '</span></td>
                            <td>' .($aUser["fr_user"]["sex"] ? '<span class="icon user_male" style="margin-left: 5px;"></span>' : '<span class="icon user_female" style="margin-left: 5px;"></span>'). '</td>
                            <td>' .($aUser[0]["invoice_status_id"] > 2 ? '<span class="icon pay_status_0"></span>' : '<span class="icon pay_status_'.$aUser[0]["invoice_status_id"].'"></span>'). '</td>
                            <td style="text-align: center;">' .$aUser["fr_user_settings"]["partner_id"]. '</td>
                            <td><span id="' .$aUser["fr_user"]["id"]. '" class="link">' .$aUser["fr_user"]["last_name"]. ', ' .$aUser["fr_user"]["first_name"]. '</span></td>
                            <td>' .$aUser[0]["parent_last_name"]. '</td>
                            <td><a href="mailto:' .$aUser["fr_user"]["user_email"]. '?subject=Forex%20Revolution"><span class="icon email" style="margin-left: 22px;"></a></td>
                            <td style="text-align:center;"> '.($aUser["fr_user_info"]["skypename"] ? '<a href="skype:' .$aUser["fr_user_info"]["skypename"]. '?chat"><img src="http://mystatus.skype.com/smallicon/' .$aUser["fr_user_info"]["skypename"]. '" style="border: none;" width="16" height="16" alt="My status" />' : '').'</td>
                            <td> '.date("d.m.Y", strtotime($aUser["fr_user"]["user_registered"])).'</td>
                        </tr>
                        ';
                    }
                }
			?>
			<!-- Table goes here -->



<!-- <tr class="gradeC">
  <td>Trident</td>
  <td>Internet
    Explorer 4.0</td>
  <td>Win 95+</td>
  <td>Win 95+</td>
  <td>Win 95+</td>
  <td>Win 95+</td>
  <td class="center">4</td>
</tr>
<tr class="gradeC">
  <td>Trident</td>
  <td>Internet
    Explorer 5.0</td>
  <td>Win 95+</td>
  <td>Win 95+</td>
  <td>Win 95+</td>
  <td>Win 95+</td>
  <td class="center">5</td>
</tr> -->


</tbody>
</table>
</div>



    
    </div>
  </div>
</div>