<div class="container-fluid"><div class="span12"><p></p></div></div>
<div class="container-fluid">
	<div class="row-fluid">
    <div class="span12">

    
    
    
    
    
    
    
    
    
    

<div class="box" style="position:relative;">
<div class="tab-header" >
  Потвержденные участники
</div>
<table class="table table-striped data-table">
<thead>
<tr>
  <th>Sex</th>
  <th>Pay status</th>
  <th>Partner ID</th>
  <th>Фамилия Имя</th>
  <th>Спонсор</th>
  <th>E-mail</th>
  <th>Skype</th>
  <th>Статус</th>
  <th>Последняя активность</th>
</tr>
</thead>
<tbody>



			<?php
				foreach($aAllUsers as $aUser)
				{
					//var_dump($aUser);
					echo '
					<tr>
						<td class="center">' .($aUser["fr_user"]["sex"] ? '<span class="icon user_male" style="margin-left: 5px;">male</span>' : '<span class="icon user_female" style="margin-left: 5px;">female</span>'). '</td>
						<td class="center">' .($aUser[0]["invoice_status_id"] > 2 ? '<span class="icon pay_status_0">0</span>' : '<span class="icon pay_status_'.$aUser[0]["invoice_status_id"].'">'.$aUser[0]["invoice_status_id"].'</span>'). '</td>
						<td class="center">' .$aUser["fr_user_settings"]["partner_id"]. '</td>
						<td class="center"><span id="' .$aUser["fr_user"]["id"]. '" class="link">' .$aUser["fr_user"]["last_name"]. ', ' .$aUser["fr_user"]["first_name"]. '</span></td>
						<td class="center">' .$aUser[0]["parent_last_name"]. '</td>
						<td class="center"><a href="mailto:' .$aUser["fr_user"]["user_email"]. '?subject=Forex%20Revolution"><span class="icon-envelope"></a></td>
						<td class="center"> '.($aUser["fr_user_info"]["skypename"] ? '<a href="skype:' .$aUser["fr_user_info"]["skypename"]. '?chat"><img src="http://mystatus.skype.com/smallicon/' .$aUser["fr_user_info"]["skypename"]. '" style="border: none;" width="16" height="16" alt="My status" />' : '').'</td>
						<td>
                            <select id="' . $aUser["fr_user"]["id"] . '">';
                            foreach($statuses as $status) {
                                echo "<option value='{$status["fr_user_status"]["id"]}' ";
                                if($status["fr_user_status"]["id"] == $aUser["fr_user_settings"]["user_status_id"]) {
                                    echo "selected='selected'";
                                }
                                echo ">{$status["fr_user_status"]["status_name"]}</option>";
                             }
                             echo '</select>
                        <td class="center">' .($aUser["fr_user"]["lastvisitDate"] != '0000-00-00 00:00:00' ? date("d.m.Y", strtotime($aUser["fr_user"]["lastvisitDate"])) : 'не был(а)') . '</td>
					</tr>
					';
				}
			?>



<!-- <tr class="gradeC">
  <td>Trident</td>
  <td>Internet
    Explorer 4.0</td>
  <td>Win 95+</td>
  <td>Win 95+</td>
  <td>Win 95+</td>
  <td>Win 95+</td>
  <td class="center">4</td>
</tr>
<tr class="gradeC">
  <td>Trident</td>
  <td>Internet
    Explorer 5.0</td>
  <td>Win 95+</td>
  <td>Win 95+</td>
  <td>Win 95+</td>
  <td>Win 95+</td>
  <td class="center">5</td>
</tr> -->


</tbody>
</table>
</div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>
  </div>
</div>