/* Green stylesheet
---------------------------------------- */

a {
	color: #85b330;
}

/* Heading Color */
h2 {
	color:#85b330;
	}
	
/* Header */
#header {
	height:250px;
	background: url("/css/images/header-bg-green.jpg") no-repeat scroll 50% 0 #bad353;
}
/*Seitbord*/
.fxr-siderbar-header {
	background: url("/css/jquery-ui-green-theme/images/ui-bg_gloss-wave_80_459e00_500x100.png") repeat-x scroll 50% 50% #bad353;
}
/* Button */
.button {
	background-color: #bad353;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cee063), to(#a3c53f)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #cee063, #a3c53f); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #cee063, #a3c53f); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #cee063, #a3c53f); /* IE10 */
  background-image:      -o-linear-gradient(top, #cee063, #a3c53f); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #cee063, #a3c53f);
	}
	
.cc-icon {
	height: 25px; width:25px;
	display: block;
	cursor:pointer;
}
.cc-set {	
	background-image: url(images/icon_set.jpg);
	padding: 2px;
	border: 1px solid #CCC;
	
}
.enroll{background-position: -130px -634px;}
.clock{background-position: -53px -632px;}
.clock_l{background-position: -208px -1560px;}
.deposits{background-position: -283px -535px;}
.payment{background-position: -284px -569px;}
.cancel{background-position: -130px -74px;}
.structure{background-position: -92px -74px;}
.email-activation{background-position: -90px -106px;}

/*BONUS MANAGER*/
.bonus-member-box{
	border: 1px solid #cee063;
	color:#85b330;
	font-weight: bold;
}
.bonus-member-box:hover{
	border: 1px solid #a3c53f;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}.bonus-member-box.aktiv{
	border: 2px solid #E1D0D5;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}