/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
	 Optimized by Andrew Ghostuhin
*/

* { 
    margin: 0px; 
    padding: 0px; 
}
body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	line-height: 15px;
}
html, body, #F, #bg table, #bg td, #cont {
    height:100%;
    width:100%;
    overflow:hidden;
}
h2 {
	font-size: 15px;
	line-height: 43px;
	color: #333333;
	font-weight: bold;
	text-shadow: 0px 1px 1px #FFF;
    background: url(images/login/header.png) repeat center top;
    height: 43px;
    padding: 0px 0px 0px 20px;
    position: relative;
	margin: 0px;
}
.clear {
	clear: both;
}


a.close {
	position: absolute;
    background: url(images/login/close.png) no-repeat center center;
    height: 25px;
	width: 25px;
	text-indent: -99999px;
	outline: none;
	top: 10px;
	right: 10px;
}

.message {
	display:block;
	font-size: 12px;
	margin-top: 15px;
	margin-bottom: 10px;

}


#bg div {
    height:200%;
    left:-50%;
    position:absolute;
    top:-50%;
    width:200%;
}

#bg td {
    text-align:center;
    vertical-align:middle;
}

#bg img {
    margin:0 auto;
    min-height:50%;
    min-width:50%;
}

#cont {
	position:absolute;
	top:0;
	left:0;
	z-index:70;
	overflow:auto;
}

.lock {
    width: 197px;
    height: 198px;
    padding: 0px;
    background: url(images/login/lock.png) no-repeat center center;
    position: absolute;
	left: 50%;
	top: 50%;	
	margin-left: -99px; 
	margin-top: -99px;
	display: none;
}

.form {
	
	width: 387px;
	padding: 0px;
	position: absolute;
	left: 50%;
	top: 50%;
    margin: -108px auto 0 -194px;
}

.show {
	display: inline;
}

.box { 
	position: absolute;
	left: 50%;
	top: 50%;	

}
.formcont {
	margin: 0px;
	overflow: hidden;
	position: relative;
}
.formfooter {
    background: url(images/login/footer.png) no-repeat center top;
    margin: 0px;
	padding: 0px;
	height: 13px;
}



#signin_menu {
	height: 160px;
	border:none;
	text-align:left;
	margin: 0px;
	color:#333;
	font-size:12px;
    background: url(images/login/form-bg.png) repeat-y center bottom;
    overflow: hidden;
    padding: 0px 20px;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
	float: right;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #C6C6C6;
	font-size:13px;
	margin:5px 0px 5px;
	*margin:0px;
	padding:5px;
	width:180px;
}
#signin_menu p {
	margin:10px 0 10px;
	*margin:5px 0 5px;
	clear: both;
}
#signin_menu a {
	color:#6AC;
}
#signin_menu label {
	margin:10px 0px 0px;
	float: left;
	font-weight:normal;
}
#signin_menu p.remember {
	float: right;
	clear: none;
	padding:0;
}
#signin_menu a.forgot {
	margin-top: 10px;
	float: left;
	display: inline;
	line-height: 24px;
	color: #666666;
	text-decoration: none;
    background: url(images/login/reset.png) no-repeat left center;
    padding-left: 18px;
	font-weight: bold;
}

.remember input {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#39d url(images/login/bg-btn.png) repeat-x scroll 0 0;
	border:1px solid #B5B5B5;
	color:#222;
	text-shadow: 0px 1px 1px #FFF;
	*filter: Shadow(Color=#FFFFFF, 	
			Direction=180,
			Strength=1);
	padding:4px 10px 5px;
	font-size:11px;
	margin: 0 0px 0 3px;
	font-weight:bold;
}

#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
	background-position:0 -5px;
	cursor:pointer;
}

#focus-stealer { position: absolute; left: -9999px; }

/*Message Boxes*/
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 5px 0px;
    padding:2px 5px 2px 35px;
    background: no-repeat 10px center;
}
.info {
    color: #00529B;
    background: #BDE5F8 url('info.png');
}
.success {
    color: #4F8A10;
    background: #DFF2BF url('success.png');
}
.warning {
    color: #9F6000;
    background: #FEEFB3 url('warning.png');
}
.error {
    color: #D8000C;
    background: #FFBABA url('error.png');
}