<div id="tabs">
<!--    <ul>
			<li><a href="#pay_tabs">Оплата</a></li>
			<li><a href="#in_tabs">Пополнение</a></li>
			<li><a href="#ref_tabs">Внутренний перевод</a></li>
			<li><a href="#out_tabs">Снятие</a></li>
    </ul>-->
		<!-- invoicetabs -->
		<?php echo $this->element('invoicetab'); ?>
	<!-- end invoicetabs -->
		
</div>
<div id="dialog" title="Basic dialog"></div>
