<div class="container-fluid"><div class="span12"><p></p></div></div>
<div class="container-fluid">
	<div class="row-fluid">
    <div class="span12">



<div class="box" style="position:relative;">
<div class="tab-header" >
</div>
<table class="table table-striped data-table">
<thead>
<tr>
    <th>Номер</th>
    <th>Дата</th>
    <th>Фамилия Имя</th>
    <th>Способ</th>
    <th>Сумма</th>
    <th>Тип</th>
    <th>Зачислил</th>
</tr>
</thead>
<tbody>



				<?php
					foreach ($aAllPaidInvoice as $aPaidInvoice)
					{
						//var_dump($aPaidInvoice);
						echo'
						<tr>
							<td style="text-align: center;">'.$aPaidInvoice["fr_invoice_registered"]["id"].'</td>
							<td>' .date("d.m.Y", strtotime($aPaidInvoice["fr_invoice_history"]["add_date"])). '</td>
							<td><span id="' .$aPaidInvoice["fr_invoice_registered"]["user_id"]. '" class="link">' .$aPaidInvoice["fr_user"]["first_name"]. ', '.$aPaidInvoice["fr_user"]["last_name"].'</span></td>
							<td>
								'.$aPaidInvoice["fr_payment"]["name_payment_systems"].'<br />
								'.$aPaidInvoice["fr_invoice_typ"]["typ_name"].'
							</td>
							<td>'.$aPaidInvoice["fr_invoice_registered"]["sum"].' '.$aPaidInvoice["fr_payment"]["currency_code"].'</td>
							<td>'.$aPaidInvoice["fr_invoice_typ"]["typ"].'</td>
							<td>'.$aPaidInvoice["o"]["first_name"].', '.$aPaidInvoice["o"]["last_name"].'</td>
						</tr>';
						
					}
				?>


</tbody>
</table>
</div>


    </div>
  </div>
</div>