<div id="withdrawal_container" style="position:relative; margin-top: 0px; width: 100%;">
    <div class="fxr-siderbar-header"><p>Перевод средств на расчетный счет</p></div>
    <div id="withdrawal_body">
        <div id="flashMessage" class="example_class"><?php echo $this->Session->flash(); ?></div>
        <?php if ($message) {?>
        <div class="success">
            <?php echo $message; ?>
        </div>
        <?php } ?>
    </div>
</div>