

<div class="container-fluid"><div class="span12"><p></p></div></div>
<div class="container-fluid">
	<div class="row-fluid">
    <div class="span12">

    
    
    
    
    
    
    
    
    
    

<div class="box" style="position:relative;">
<div class="tab-header" >
		<div>
			<span class="button" id="add_email_button" ><a href="/email/modify_email/new">Создать письмо</a></span>
		</div>
</div>
<table class="table table-striped data-table">
<thead>
<tr>
  <th>#</th>
  <th>тема</th>
  <th>изменен</th>
  <th>тип</th>
</tr>
</thead>
<tbody>



			<?php		
				foreach( $aEmailInformation as $aInformation)
				{						
					echo'
					<tr>
						<td id ='.$aInformation["fr_mail"]["id"].'><spsn style="vertical-align:-1px; margin-left: 10px;">' .$aInformation["fr_mail"]["id"]. '</span></td>
						<td><a href="/email/modify_email/'.$aInformation["fr_mail"]["id"].'">' .$aInformation["fr_mail"]["title"]. '</a></td>
						<td>' .date("d.m.Y H:i:s", strtotime($aInformation["fr_mail"]["last_modified_date"])). '</td>
						<td>' .$aInformation["fr_mail"]["content_type"].' </td>
					</tr>';
				}
				?>

</tbody>
</table>
</div>
    

    
    </div>
  </div>
</div>