<div>
	<!-- load tinymce script -->
    <?php echo $this->element('tinymce');?>
  <!-- end load tinymce script -->  
	<form method="post" action="/email/save/<?php echo (isset($aModfyEmail) ? $aModfyEmail["fr_mail"]["id"] : 'new'); ?>">
		<div>
			<h3>Редактирование письма: <?php echo (isset($aModfyEmail) ? $aModfyEmail["fr_mail"]["title"] : "" ); ?></h3>
			<div>
				<div>Имя: </div>
				<input style="width: 50%;" id="subject" name="title" type="text" value="<?php echo (isset($aModfyEmail) ? $aModfyEmail["fr_mail"]["title"] : ""); ?>" />
			</div>
	
	
			<div style="margin-top:30px;">
				<div>Тема: </div>
				<input style="width: 100%;" id="subject" name="subject" type="text" value="<?php echo (isset($aModfyEmail) ? $aModfyEmail["fr_mail"]["subject"] : ""); ?>" />
			</div>
	
			<!-- Gets replaced with TinyMCE, remember HTML in a textarea should be encoded -->
			<div style="margin-top:10px;">
				<div>Текст письма: </div>
				<textarea id="elm1" name="body" rows="50" cols="80" style="width: 100%" class="tinymce">
					<?php echo (isset($aModfyEmail) ? $aModfyEmail["fr_mail"]["body"] : "" ); ?>
				</textarea>
			</div>			
			<br />
			<input type="submit" name="save" value="Сохранить" />
			<input type="reset" name="reset" value="Reset" />
		</div>
	</form>
</div>